body {
  background-color: darkgrey;
}
.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: inset;
  margin: 20px;
}
.nav-items {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav-items > li {
  padding: 10px;
}
.logo {
  width: 60px;
}
.main-content {
  margin: 30px 30px;
}
.footer {
  height: 50px;
  width: 100%;
  background-color: darkcyan;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  padding: 20px;
}
