body {
  background-color: rgb(180, 180, 180);
}

.card {
  display: inline-flex;
  flex-direction: column;
  width: 176px;
  position: relative;
  margin: 15px;
}
.card-bottom {
  display: flex;
  width: 176px;
  flex-direction: column;
  font-size: 12px;
}
.card-bottom div {
  margin: 5px 0px 0 0;
}
.card--image {
  width: 176px;
  height: 235px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.card--rating {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.card--rating span {
  width: 100%;
}
.card--title {
}

.gray {
  color: #918e9b;
}
