body {
  background-color: rgb(94, 94, 94);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.meme-gen--container {
  width: 550px;
  height: 550px;
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header--container {
  height: 55px;
  width: 550px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
}
.header--logo {
  height: 30px;
}
.header {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
main {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.input-form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.input-form input {
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}
.input-form button {
  font-size: 15px;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  grid-column: 1/-1;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.input-form p {
  position: absolute;
  top: 59%;
}
.image-container {
  /* position: relative; */
  display: flex;
  justify-content: center;
  height: 300px;
}

.image-container img {
  width: 80%;
}
